<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>Consultar Professor</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div>
        <h1 class="caixaMenor">Consultar Professor</h1>
        
        <div class="caixa">
            <form action="/consultaP" method="POST">

                <label>ID do Professor:</label>

                <br>

                <input type="number" name="id" required>

                <br><br>

                <button type="submit">
                    Consultar
                </button>
        </div>
        </form>

        
        {% if resultado %}
        <div class="caixa">
            <h2>Resultado:</h2>
            <h2>ID, Nome, Idade, materia</h2>
            <p>{{resultado}}</p>
        </div>
        {% endif %}

        <br>

        <a href="/">
            <button>Voltar</button>
        </a>
    </div>
</body>

</html>